<h1><%= @category.name %></h1>
<%= link_to 'Create a new item', new_category_item_path(@category) %>

<% @items.each do |item| %>
<ul>

  <li><%= link_to item.name, [@category, item] %></li>
</ul>
<% end %>

<%= link_to 