<h1><%= @category.id ? 'Edit Department' : 'Create Department' %></h1>

<% form_for @category do |f| %>

  <%= f.label :name %>
  <%= f.text_area :name, required: true, autofocus: true %>

  <%= f.submit %>

<% end %>